# git ignore编写规则
# 1 空行或井号（#）开头的行：这些行会被Git忽略，通常用于添加注释。
# 2 标准glob模式匹配：Git使用标准的glob模式来匹配文件名。
#   + * 匹配零个或多个字符。
#   + ? 匹配一个字符。
#   + [abc] 匹配方括号内的任意一个字符。
#   + ** 匹配任意中间目录，例如 a/**/z 可以匹配 a/z、a/b/z、a/b/c/z 等。
# 3 以斜杠（/）开头：表示只忽略根目录下的文件或目录。
#   + /build 只忽略根目录下的 build 目录。
#   + /bin/ 只忽略根目录下的 bin 目录及其子目录。
#   + /bin 只忽略根目录下的 bin 文件。
# 4 以斜杠（/）结尾：表示忽略目录及其内容
#   + /build/ 忽略根目录下的 build 目录及其内容。
#   + /bin/ 忽略根目录下的 bin 目录及其内容。
# 5 以叹号（!）开头：表示不忽略指定的文件或目录。
#   + !/build/ 不忽略根目录下的 build 目录及其内容。


/.build-env/
build/
.cache/
.idea/
.vercel/